/* todo样式 */
li{
	list-style: none;
	height: 0px;
}
.con_todo{
	margin-left: 20px;
	margin-right: 20px;
	float: left;
	width:45%;
	height:50px;
	background:black;
}
#con_email{
	margin-left: 20px;
	margin-right: 20px;
	float: right;
	width:45%;
	height:50px;
	background:#f6f9f4;
}
.con_todo input{
	width: 70%;
	height: 30px;
}
.con_do{
	width:45%;
	height:650px;
	margin-left: 20px;
	float:left;
	background: #f6f9f4;
}
.con_do_li{
	display: inline-block;
	margin-left: 10px;
}
.con_done{
	color: white;
	width:45%;
	height:650px;
	margin-right: 20px;
	float:right;
	background:#150f0f;
}
h5{
	font-size: medium;
	font-family: "宋体";
}
.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* 注册样式 */
.login{
	background-color: #f6f9f4;
	width: 415px;
	height: 265px;
	border: 5px black;
	border-style: inset;
	margin: auto;
	position: relative;
	top: 150px;
	box-shadow: 10px 10px #5a5a5a;
}
.login label,.login input{
	position: relative;
	top:30%;
	margin-bottom: 20px;
	font-size: 20px;
}